body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #101015;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  padding-top: 2rem;
  color: white;
  font-weight: 700;
  font-size: 5vw;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  animation: fadeIn 1s ease-in-out forwards;
}

.title2 {
  color: #5e51ed;
  font-weight: 700;
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "Zain", sans-serif;
  animation-delay: 1s;
  animation: fadeIn 1s ease-in-out forwards;
}

.inputTree {
  height: auto;
  width: 40%;
  margin-top: 4rem;
  animation-delay: 1.5s;
  animation: fadeIn 1s ease-in-out forwards;

  input {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 12px 0 0 12px;
    outline: none;
    border: none;
  }

  button {
    padding: 1rem 2rem;
    height: 100%;
    border: none;
    background-color: #5e51ed;
    color: white;
    border-radius: 12px;
    font-size: 19px;
    cursor: pointer;
  }
}

/* Tree and Node Styles */
.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  margin-top: 2rem;
  border: 5px solid #5e51ed;
  padding: 18px;
  margin-bottom: 3rem;
}

.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  width: 100%;
}

.tree-branch {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  width: 70%;
}

.tree-result,
.tree-initial {
  /* border: 3px solid #2e343b; */
  padding: 12px 20px;
  margin-bottom: 1rem;
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.tree-node::before,
.tree-node::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
}

.tree-node::before {
  left: 50%;
  border-right: 1px solid #ccc;
}

.tree-node::after {
  right: 50%;
  border-left: 1px solid #ccc;
}

.tree-branch > .tree-node:first-child::before {
  border: 0;
}

.tree-branch > .tree-node:last-child::after {
  border: 0;
}

/* Shimmer Effect for Loading */
.shimmer-wrapper {
  width: 100%;
  height: 27rem;
  background-color: #15151d;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    #15151d 0%,
    #37374d 20%,
    #15151d 40%,
    #15151d 100%
  );
  position: absolute;
  top: 0;
  left: -50%;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}